{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Short+Stack" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        
        {% block meta %}{% endblock %}
        <title>{% block title %}WeeCare{% endblock %}</title>
    </head>
        <div class="home">
            <a href="{% url 'index' %}"><img src="/static/css/WeeCare_highres.png" style="width:300px; height:auto" alt="WeeCare Logo"></a>
        </div>
       
        
        
        
            <div class="tag_line">

                <p> We care for your little ones from check-in to check-out.</p>

            </div>
        

        <div class="base_bar">

                
                
        </div>

    

    <body>
        {% block content %}{% endblock %}
    
    <script src="/static/js/main.js"></script>
    </body>
    

</html>