{% extends "base.html" %}
{% load static %}


{% block content %}
<script src="/static/js/main.js"></script>


<div class="wrapper">
    {% for child in children %}
    
    <div class="subwrapper">
        {% if child.visit|length >= 1 %}
        <a href="{% url 'action_list' visit_id=child.visit.0.id %}#anchor">
            {% endif %}
            <div class="kidbox">
            <div class="nap_notification" id="nap_{{ child.child_id }}"><img src="/static/pics/zzz3.png" alt="sleeping zzz notification"></div>
            <div class="icons" >
            
                <div>____<div class="notification" id="{{ child.child_id }}"><img src="/static/pics/diaper_icon2.png" style="width:25px;height:auto; border-width: 2px;border-color:#f99d02;" alt="change diaper notification"></div></div><br>
                <div>{% if child.child_pic %}
                <img src="/static/pics/{{child.child_pic}}" alt="child picture">
                {% endif %}</div>
                <br><div>____<div class="feed_notification" id="feed_{{ child.child_id }}"><img src="/static/pics/bottle_icon2.png" style="width:25px;height:auto; border-width: 2px;border-color:#f99d02;" alt="hungry bottle notification"></div></div>
                </div>
                {{ child.full_name }}
            </div></a>
        {% if child.visit|length >= 1 %}
        <a href="{% url 'check_out' visit_id=child.visit.0.id %}"><button class="checkbutton out">Check-out</button></a>
        {% else %}
        <a href="{% url 'check_in' child_id=child.child_id %}"><button class="checkbutton in">Check-in</button></a>
        {% endif %}

        
    </div>
    {% endfor %}
</div>

</div>
</div>


    {% endblock %}
</div>

